Package: libtap-stream-perl
Version: 0.44-1
Architecture: all
Maintainer: root <root@38fac86a5734>
Installed-Size: 69
Depends: perl, libmoose-perl, libnamespace-autoclean-perl
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/TAP-Stream/
Description: Combine multiple TAP streams with subtests
 Sometimes you find yourself needing to merge multiple streams of TAP. Several
 use cases:
 .
 Experimental module to combine multiple TAP streams.
 .
 This description was automagically extracted from the module by dh-make-perl.
